*{
    margin: 0px;
    padding: 0px;
}
.header{
    width: 100%;
    height:40px;
    padding: 13px 0px;
    padding-left: 30px;
    padding-right: 30px;
    background-image: linear-gradient(-140deg,var(--primaryColor),var(--textColor2));
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 10000;
    box-shadow: 1px 1px 10px 0px var(--textColor2);
}
.logoDiv{
    width: auto;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--textColor);
    cursor: pointer;
    transition: 0.1s all ease;
}
.logoDiv:hover{
    scale: 1.02;

}
#logo{
    width: 45px;
    height: 45px;
}
.navLinks{
    font-size: 600;
}
.navBar{
    width: auto;
    height: 43px;
    display: flex;
    align-items: center;
    gap: 13px;
    margin-right: 100px;
    /* background-color: rgb(173, 173, 16); */
}
.navLinks{
    text-decoration:none;
    letter-spacing: 1px;
    color: var(--textColor);
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}
.navBar a:hover{
    scale: 1.1;
    color:color-mix(in srgb, var(--primaryColor) 70%, var(--textColor) 30%);
    transition: 0.3s all ease;
}
